[submodule "holoswarm-client"]
	path = holoswarm-client
	url = https://github.com/matias-v441/holoswarm-client.git
	branch = master
[submodule "holoswarm_ros_packages"]
	path = holoswarm_ros_packages
	url = git@mrs.fel.cvut.cz:holoswarm/holoswarm_ros_packages.git
	branch = buninmat-ground-setup
